html,
body,
header,
#intro {
  height:100%;
}

#intro {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F814e17476c1f1eddbcbbd9fe05e4769dadbfb56e19ef5-Y7aE7K_fw658&refer=http%3A%2F%2Fhbimg.b0.upaiyun.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1626359611&t=4c529d254a22e0a4278203c130b2230f")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color:rgba(14, 25, 126, 0.795);
  
}

#footer{
  background-color:rgba(14, 25, 126, 0.795);
  
}
.content{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  *word-wrap: break-word;
  *white-space : normal ;  
}