html,
body,
header,
#intro {
  height:100%;
}

#intro {
    background: url("http://5b0988e595225.cdn.sohucs.com/images/20180510/e791913f59b14f578a6a18321e550867.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color:rgba(14, 25, 126, 0.795);
  
}

#footer{
  background-color:rgba(14, 25, 126, 0.795);
  
}
.content{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  *word-wrap: break-word;
  *white-space : normal ;  
}